body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0px;
    background-color: #e6f7f1;
}

h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.queryCheck {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radioCheck {
    align-items: left;
}

input[type="checkbox"] {
    width: auto;
}

.radio-group {
    display: flex;
    justify-content: start;
}

.radio-group label {
    font-weight: normal;
}

#consentText {
    font-weight: normal;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: hsl(150, 19%, 40%);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(149, 19%, 51%);
}

.error {
    display: none;
    color: red;
    margin-top: 5px;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    .radio-group {
        flex-direction: column;
    }

    .radio-group label {
        margin-bottom: 10px;
    }
}